@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
.navbar
{
  text-decoration: none;  /* background-color: black !important; */
  background-color: black;
} 
.hero-img
{
    width: 30%;
}
*
{
    box-sizing: border-box;
    font-family:"Urbanist",sans-serif ;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
h1,h2,h3,h4,h5
{
    font-family: 'Lexend deca', Geneva, Verdana, sans-serif;
}
.typing {
    /* width: 22ch; */
    animation: typing 5s steps(40)  infinite, blink .5s  infinite ;
   
   
  }
 
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
  .hero-text {
   
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-text p {
    font-size: 3rem;
    padding: 0.5rem;
    font-weight: bold;
    color: #ccc;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow: hidden;
  }
  @media (max-width: 600px) {
   
   .bg-main
   {
    height: 77.5vh !important;
   }
   .hero-text p
   {
    font-size: 2.5rem;
   }
   .graph
   {
    width: 70% !important;
    margin: 10rem 0rem 0rem 0rem;
   }
  }
  
  .social
  {
    margin: 0 5px 5px 0;
    border-radius: 3rem;
  }
  .hero-text p span.typed-text {
    font-weight: normal;
    color: #dd7732;
  }
  .c-s
  {
    height:16px;
    width: 16px;
    
  }
  .hero-text p span.cursor {
    display: inline-block;
    background-color: #ccc !important;
    margin-left: 0.1rem;
    width: 1px;
    animation: blink 1s infinite;
  }
  .hero-text p span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
  }
  .hero-img
  {
    max-width: 100%;
    height: auto;
    width: 90rem;
    border-radius: 2rem;

  }
  .btn-hero:hover
  {
    background: rgb(145,25,141);
    background: linear-gradient(90deg, rgba(145,25,141,0.8519782913165266) 37%, rgba(0,125,255,0.896796218487395) 100%);
  }
  .hero-section .white-text
  {
    color: aliceblue;
  }
  .bg-main
  {
    background-color: black;
    height: 82vh;
    position: relative;
  }
  .hero-section container
  {
    height: inherit;
    display: grid;
    place-content: center;
  }
  .txt-heading
  {
    font-family:"Urbanist",sans-serif ;
    text-transform: capitalize;
    text-decoration: underline;
    position: relative;
    color: cadetblue;
  }
  span
  {
    font-family:"Urbanist",sans-serif ;
    text-transform: capitalize;
  }
  .card-skills
  {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  .card-skills:hover {
    border-color: rgba(13, 110, 253, 0.7);
    box-shadow: 0px 0px 10px 2px rgba(13, 110, 253, 0.6);
  }
  .card-skills:before{
    position: absolute;
    content: '';
    top: -2px;
    left: -2px;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    border-radius: 5px;
    z-index: -1;
    opacity: 0;
    filter: blur(5px);
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background-size: 400%;
    transition: opacity .3s ease-in-out;
    animation: animate 20s linear infinite;
  }
  .card-skills:hover:before{
    opacity: 1;
  }
  .card-skills:hover:active{
    background: none;
  }
  .card-skills:hover:active:before{
    filter: blur(2px);
  }
  @keyframes animate {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }
  
  .responsive-img
  {
    margin: 5px;
    width: 50%;
    border-radius: 5px;
    text-align: center;
   flex-direction: row;
   display: flex;
   position: relative;
   left: 25%;
   top: 5%;
  
  }
  .img-card
  {
    top:5%;
    align-self: center;
    height: auto;
    width: 50%;
    border-radius: 2px;
    display: flex;
    position: relative;
    left: 25%;
    /* width: 50%;
    left: 25%;
    top: 10%;
    position: relative;
    border-radius: 10px; */
  }